<div class="container-fluid mt-5" id="sobrenos">

    <div class="row d-flex justify-content-center d-flex align-items-center">

        <div class="col-md-10">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3"> Sobre Nós </h1>
                    <p> 

                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
                    </p>
                </div>  
                <div class="col-md-6 " id="img-bg"></div>

            </div>
        </div>
    </div>
</div>
