
<div class="container-fluid mt-5">


    <h1 class="text-center mb-1 text-font-pop"> Sobre Nós </h1>

    <div class="container">       
        
        <div class="row d-flex align-items-center">

                <div class="col-md-6 me-6">

                    <p class="textP text-font-pop text-dark mt-2">
                        Atualmente, existem mais de 7 milhões de brasileiros cursando o ensino médio. Com o intuito
                        de facilitar o acesso à educação de qualidade para estes estudantes, a Educa Tierra através do seu
                        time de desenvolvedores, criou uma plataforma de formato e-commerce ideal para o
                        compartilhamento de materiais escolares digitais, auxiliando alunos do ensino médio a encontrar conteúdo gratuito de forma fácil e segura.
                    </p> 

                     <p class="textP text-font-pop text-dark mt-2">
                         O site funciona para usuários que podem cadastrar materiais digitais sendo PDFs, vídeo-aulas e e-books que ficarão disponíveis gratuitamente para visualização aos demais usuários cadastrados na plataforma.
                    </p> 

                    <p class="textP text-font-pop text-dark mt-2" >
                        É simples assim! Em poucos clicks você compartilha com diversos usuários a vídeo-aula do seu
                        professor favorito, seu resumo detalhado de uma matéria ou aquele livro de leitura obrigatória
                        do vestibular.
                    </p>

                </div>
                <div class="col-md-6" id="img-bg"></div>

            </div>
 
    </div>

</div>
