<div class="container mt-5 mb-5" id="sobrenos">

    <div class="row d-flex justify-content-center ">

        <h1 class="text-center mb-3 text-font-pop"> Sobre Nós </h1>

        <div class="row col-md-12 d-flex ">

            <div class="row marginSobreNos">

                <div class="row col-md-6 me-6 align-items-center">


                    <p class="textP text-font-pop text-dark mt-2">
                        Atualmente, existem mais de 7 milhões de brasileiros cursando o ensino médio. Com o intuito
                        de facilitar o acesso à educação de qualidade para estes estudantes, a EmpresaX através do seu
                        time de desenvolvedores, criou a plataforma Educa Tierra, o e-commerce ideal para o
                        compartilhamento
                        de materiais escolares digitais, auxiliando alunos do ensino médio a encontrar conteúdo gratuito
                        de forma fácil e segura.
                    </p> 

                     <p class="textP text-font-pop text-dark mt-2">
                         O site funciona para colaboradores que podem cadastrar os materiais digitais sendo PDF
                        vídeo-aulas e e-book que ficarão
                        disponíveis gratuitamente para download aos usuários cadastrados na plataforma.
                    </p> 

                    <p class="textP text-font-pop text-dark mt-2" >
                        É simples assim! Em poucos clicks você compartilha com diversos usuários a vídeo-aula do seu
                        professor favorito, seu resumo detalhado de uma matéria ou aquele livro de leitura obrigatória
                        do vestibular.
                    </p>

                </div>
                <div class="row col-md-6 d-flex justify-content-center " id="img-bg"></div>



            </div>



        </div>


    </div>

</div>
