<div class="container" id="mg">

    <div class="row d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-start">
                <div class="col-md-11 mt-5 ms-auto">
                    <h1>Busque materiais digitais e encontre caminhos alternativos para seus estudos. </h1>
                </div>
                <div class="col-md-11 mt-3 ms-auto">
                    <h6 class='fs-10'>Uma plataforma exclusiva para o compartilhamento seguro, rápido e gratuito de
                        materiais digitais.</h6>
                </div>
            </div>

            <div class="row f-flex justify-content-start mt-3 mb-5">
                <div class="col-md-11 ms-auto">
                    <button class="btn mt-3" data-bs-toggle="modal"
                    data-bs-target="#loginCadastroModal" type="button" >Cadastre-se</button>
                   <!--  data-bs-toggle="modal" data-bs-target="#novaPostagem" -->         
                </div>
            </div>

        </div>

        <div class="col-md-5 d-flex justify-content-center mb-5">
            <img src="https://i.imgur.com/iZrMaML.png" alt=" " width="350px" height="350px">
        </div>

        
    </div>
</div>


<!-- modal de login e cadastro -->
<div class="modal fade" id="loginCadastroModal" tabindex="-1" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button class="btn ms-auto me-3" type="button" id="fecharModal" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">login</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">cadastro</button>
                    </li>

                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">

                        <div class="row justify-content-center">
                            <div class="col-md-10">

                                <div class="form-group mb-4">
                                    <input [(ngModel)]='usuarioLogin.usuario' class="form-control" type="text"
                                        name="usuario" id="usuario" placeholder="usuário">
                                </div>

                                <div class="form-group mb-4">
                                    <input [(ngModel)]='usuarioLogin.senha' class="form-control" type="password"
                                        name="senha" id="senha" placeholder="senha">
                                </div>

                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn" (click)='logar()'
                                            data-bs-dismiss="modal">login</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="form-group mb-4">
                                    <input [(ngModel)]='user.nomeCompleto' class="form-control" type="text" name="nome"
                                        id="nomeCompleto " placeholder="nome completo">
                                </div>

                                <div class="form-group mb-4">
                                    <input [(ngModel)]='user.email' class="form-control" type="text" name="email"
                                        id="email" placeholder="email">
                                </div>

                                <div class="form-group mb-4">
                                    <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario"
                                        id="usuario" placeholder="usuario">
                                </div>

                                <!-- <div class="form-group mb-4 d-flex align-items-center justify-content-center">
                                    <p>tipo de usuário</p>
                                    <div class="form-check me-4">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="professor">
                                        <label class="form-check-label" for="professor">
                                          professor
                                        </label>
                                      </div>

                                      <div class="form-check me-4">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="estudante" checked>
                                        <label class="form-check-label" for="estudante">
                                          estudante
                                        </label>
                                      </div>

                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="outro" checked>
                                        <label class="form-check-label" for="outro">
                                          outro
                                        </label>
                                      </div>
                                </div> -->

                                <div class="form-group mb-4">
                                    <select class="form-control" aria-label="Default select example">
                                        <option selected>selecione o tipo de usuario</option>
                                        <option value="PROFESSOR">professor</option>
                                        <option value="ESTUDANTE">estudante</option>
                                        <option value="OUTRO">outro</option>
                                      </select>
                                </div>

                                <div class="form-group mb-4">
                                    <input [(ngModel)]='user.foto' class="form-control" type="text" name="foto"
                                        id="foto" placeholder="link da sua foto">
                                </div>

                                <div class="form-group mb-4">
                                    <input (input)='confirmSenha($event)' class="form-control" type="password"
                                        name="senha" id="senha" placeholder="senha">
                                </div>

                                <div class="form-group mb-4">

                                    <input [(ngModel)]='user.senha' class="form-control" type="password"
                                        name="confirmSenha" id="confirmSenha" placeholder="confirme sua senha">
                                </div>

                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <button (click)='cadastrar()' type="submit" class="btn"
                                            data-bs-dismiss="modal">enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




