.accordion-item {
    border-style: none;

}

.accordion-button {
    box-shadow: none;
    list-style-type: none;
    background-color: white;
    padding: 16px 20px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.accordion-button:after {
}

code {
color: #2f2f30;
}