<section class="container-fluid mt-4 px-0 py-4">
  <div class="container">
      <h1 class="text-center">Devs</h1>
      <div class="row mx-lg-5 mx-md-3 ml-sm-auto mr-sm-auto mx-3">

          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 px-4 d-flex justify-content-center">

              <div class="img-container imagem-perfil d-flex">
                  <div class="conteudo">
                      <img src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" alt="">
                  </div>
              </div>

              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a target="_blank" href="https://github.com/renato-novais">
                      <div class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="https://img.icons8.com/material-outlined/384/000000/github.png" alt="" style="width: 60%; height: 60%;">
                      </div>
                  </a>

                  <a target="_blank" href="https://www.linkedin.com/in/renatonovais/">
                      <div class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1" style="width: 60%; height: 60%;">
                      </div>
                  </a>

                  <a target="_blank" href="https://www.instagram.com/gustavo1.l/">
                      <div class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1" style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>

              <div class="nome-membro">
                  <h5 class="text-center">Renato Novais</h5>
              </div>
            </div>


      </div>
      <div class="d-flex justify-content-center">
          <a class="botao-saiba text-white font-weight-bold btn d-flex align-items-center justify-content-center" routerLink='/sobre-nos'> Sobre nós </a>
      </div>
  </div>

</section>




<!-- <div class="container-fluid">

    <div class="row d-flex align-items-evenly">

        <div class="col-md-12">

            <h1 class="text-center mb-5">Devs</h1>

            <div class="d-flex align-items-evenly justify-content-evenly mb-5">

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Arthur</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Erika</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Israel</h2>
                </div>

            </div>

            <div class="d-flex align-items-evenly justify-content-evenly">

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Robson</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Renato</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Tainah</h2>
                </div>

            </div>

        </div>

    </div>

</div> -->
