<div class="container-fluid">

	<section class="section-team">
		<div class="container">

			<!-- Start Header Section -->
			<div class="row d-flex justify-content-center text-center">
				<div class="col-md-12">
					<div class="header-section">
						<h2 class="title">Conheça nossa equipe!</h2>
					</div>
				</div>
			</div>
			<!-- / End Header Section -->

			<div class="row text-center d-flex">

				<!-- Dev 1 -->
				<div class="col-md-4 d-flex justify-content-center">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/G2CBWvb/person1.jpg" alt="">
								<a class="icon" href="https://www.linkedin.com/in/arthur-r-allen/" target="_blank">
									<i class="fab fa-linkedin"></i>
								</a>							
								<a class="icon1" href="https://github.com/Arthur-All" target="_blank">
									<i class="fab fa-github"></i>
								</a>
						</div>
						<div class="person-info">
							<h3 class="full-name">Arthur</h3>
						</div>
					</div>
				</div>
				<!-- /Dev1 -->
				
				<!-- Dev 2 -->
				<div class="col-md-4 d-flex justify-content-center">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/nbpNr4r/person2.jpg" alt="">
							<a class="icon" href="" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>							
							<a class="icon1" href="https://github.com/eralima" target="_blank">
								<i class="fab fa-github"></i>
							</a>
						</div>
						<div class="person-info">
							<h3 class="full-name">Erika</h3>
						</div>
					</div>
				</div>
				<!-- /Dev 2 -->
				
				<!-- Dev 3 -->
				<div class="col-md-4 d-flex justify-content-center">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/25zdRMr/person3.jpg" alt="">
							<a class="icon" href="https://www.linkedin.com/in/israel-dantas-gerente/" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>							
							<a class="icon1" href="https://github.com/israel-97" target="_blank">
								<i class="fab fa-github"></i>
							</a>
						</div>
						<div class="person-info">
							<h3 class="full-name">Israel</h3>
						</div>
					</div>
				</div>
				<!-- /Dev 3 -->

				<!-- Dev 4 -->
				<div class="col-md-4 d-flex justify-content-center">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/w0ynr2Q/person4.jpg" alt="">
							<a class="icon" href="https://www.linkedin.com/in/renatonovais/" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>							
							<a class="icon1" href="https://github.com/renato-novais" target="_blank">
								<i class="fab fa-github"></i>
							</a>
						</div>
						<div class="person-info">
							<h3 class="full-name">Renato</h3>
						</div>
					</div>
				</div>
				<!-- /Dev 4 -->

				<!-- Dev 5 -->
				<div class="col-md-4 d-flex justify-content-center">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/w0ynr2Q/person4.jpg" alt="">
							<a class="icon" href="https://www.linkedin.com/in/robson-de-jesus-vasconcelos-2961a01a1/" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>							
							<a class="icon1" href="https://github.com/robsonvasconcelos-developer" target="_blank">
								<i class="fab fa-github"></i>
							</a>
						</div>
						<div class="person-info">
							<h3 class="full-name">Robson</h3>
						</div>
					</div>
				</div>
				<!-- /Dev 5 -->

				<!-- Dev 6 -->
				<div class="col-md-4 d-flex justify-content-center">
					<div class="single-person">
						<div class="person-image">
							<img src="https://imgur.com/rRAMA1a.jpg" alt="">
							<a class="icon" href="https://www.linkedin.com/in/tainahvinha/" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>							
							<a class="icon1" href="https://github.com/tainahvinha" target="_blank">
								<i class="fab fa-github"></i>
							</a>
						</div>
						<div class="person-info">
							<h3 class="full-name">Tainah</h3>
						</div>
					</div>
				</div>
				<!-- /Dev 6 -->

			</div>

		</div>
	</section>

</div>