<div class="container-fluid">

	<section class="section-team">
		<div class="container">

			<!-- Start Header Section -->
			<div class="row d-flex justify-content-center text-center">
				<div class="col-md-8 col-lg-6 col-xl-3">
					<div class="header-section">
						<h3 class="small-title">Devs</h3>
						<h2 class="title">Conheça nossa equipe!</h2>
					</div>
				</div>
			</div>
			<!-- / End Header Section -->

			<div class="row">
                
				<!-- Dev 1 -->
				<div class="col-sm-6 col-lg-3 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/G2CBWvb/person1.jpg" alt="">
							<span class="icon icon1">
								<i class="fab fa-html5"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">John Doe</h3>
							<span class="speciality">Web Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Dev1 -->
                
				<!-- Dev 2 -->
				<div class="col-sm-6 col-lg-3 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/nbpNr4r/person2.jpg" alt="">
							<span class="icon">
								<i class="fab fa-wordpress-simple"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">Robert Smith</h3>
							<span class="speciality">WordPress Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Dev 2 -->
                
				<!-- Dev 3 -->
				<div class="col-sm-6 col-lg-3 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/25zdRMr/person3.jpg" alt="">
							<span class="icon">
								<i class="fab fa-angular"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">John Doe</h3>
							<span class="speciality">Angular Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Dev 3 -->

				<!-- Dev 4 -->
				<div class="col-sm-6 col-lg-3 col-xl-3">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/w0ynr2Q/person4.jpg" alt="">
							<span class="icon">
								<i class="fab fa-js"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">John Smith</h3>
							<span class="speciality">Javascript Developer</span>
						</div>
					</div>
				</div>
				<!-- / End Dev 4 -->

                <!-- Dev 5
				<div class="col-sm-6 col-md-4">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/w0ynr2Q/person4.jpg" alt="">
							<span class="icon">
								<i class="fab fa-js"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">John Smith</h3>
							<span class="speciality">Javascript Developer</span>
						</div>
					</div>
				</div>
				/ End Dev 5

                Dev 6
				<div class="col-sm-6 col-md-4">
					<div class="single-person">
						<div class="person-image">
							<img src="https://i.ibb.co/w0ynr2Q/person4.jpg" alt="">
							<span class="icon">
								<i class="fab fa-js"></i>
							</span>
						</div>
						<div class="person-info">
							<h3 class="full-name">John Smith</h3>
							<span class="speciality">Javascript Developer</span>
						</div>
					</div>
				</div>
				/ End Dev 6 -->


                
			</div>


		</div>
	</section>

</div>



<!-- Exemplo 1 - em teste e estruturação
    
    
    <section class="container-fluid mt-4 px-0 py-4">
  <div class="container">
      <h1 class="text-center">Devs</h1>
      <div class="row mx-lg-5 mx-md-3 ml-sm-auto mr-sm-auto mx-3">

          <div class="coluna-membro col-md-4 col-sm-6 col-12 mt-3 px-4 d-flex justify-content-center">

              <div class="img-container imagem-perfil d-flex">
                  <div class="conteudo">
                      <img src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" alt="">
                  </div>
              </div>

              <div class="borda img-container d-flex flex-column justify-content-around">
                  <a target="_blank" href="https://github.com/renato-novais">
                      <div class="social-logo logo-start d-flex align-items-center justify-content-center transition-delay-0s">
                          <img class="z-index-1" src="https://img.icons8.com/material-outlined/384/000000/github.png" alt="" style="width: 60%; height: 60%;">
                      </div>
                  </a>

                  <a target="_blank" href="https://www.linkedin.com/in/renatonovais/">
                      <div class="social-logo logo-center d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/linkedin.png" alt="" class="z-index-1" style="width: 60%; height: 60%;">
                      </div>
                  </a>

                  <a target="_blank" href="https://www.instagram.com/gustavo1.l/">
                      <div class="social-logo logo-end d-flex align-items-center justify-content-center transition-delay-05s">
                          <img src="../../assets/img/instagram.png" alt="" class="z-index-1" style="width: 60%; height: 60%;">
                      </div>
                  </a>
              </div>

              <div class="nome-membro">
                  <h5 class="text-center">Renato Novais</h5>
              </div>
            </div>


      </div>
      <div class="d-flex justify-content-center">
          <a class="botao-saiba text-white font-weight-bold btn d-flex align-items-center justify-content-center" routerLink='/sobre-nos'> Sobre nós </a>
      </div>
  </div>

</section> -->




<!-- "Meu exemplo - não responsivo e não estilizado"
    
    <div class="container-fluid">

    <div class="row d-flex align-items-evenly">

        <div class="col-md-12">

            <h1 class="text-center mb-5">Devs</h1>

            <div class="d-flex align-items-evenly justify-content-evenly mb-5">

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Arthur</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Erika</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Israel</h2>
                </div>

            </div>

            <div class="d-flex align-items-evenly justify-content-evenly">

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Robson</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Renato</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Tainah</h2>
                </div>

            </div>

        </div>

    </div>

</div> -->