<div class="container mt-5">
    <div class="row-wrap d-flex justify-content-center">
        <div class="col-md-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100" style="max-width: 18rem;">
                        <img src="https://i.imgur.com/OQf5I2x.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center" >Card title</h5>
                        </div>
                        <div class="card-footer">
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 cursor-pointer">#new</span>
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 cursor-pointer">#slick</span>
                            <span
                                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 cursor-pointer">#velcro</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>