<div class="container-fluid">

    <div class="row bg-secondary">
        <div class="col-md-12">
                <div class="col-md-12 text-white"> <!--TROCAR A COL PARA 12 SE FOR REMOVER O MEME-->
                    <a routerLink='/menu' class="text-left text-white" > <!--ROUTER LINK-->
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Voltar
                    </a>      
                    <h1 class="ft-54 text-center">
                        LABELS
                    </h1>
                    <h5 class="ft-18 text-center">
                        TODOS OS TEMAS
                    </h5>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input [(ngModel)] = 'categoria.materia' class="form-control mb-4" id="descricao" type="text" id="materia" placeholder="digite a matéria da categoria">
                            </div>
                            <div class="form-group">
                                <input [(ngModel)] = 'categoria.descricao' class="form-control mb-4" id="descricao" type="text" id="descricao" placeholder="digite a descrição da categoria">
                            </div>

                            <div class="d-flex justify-content-center">
                                <button class="btn btn-light mt-4 mb-4" (click) = 'cadastrarCategoria()'>Cadastrar</button>
                            </div>

                        </div>
                    </div>
                </div>
               
            </div>
            
        </div>
    </div>




<div class="container-fluid ">

    <div class="row  bg-dark">
        <div class="col-md-12">
            <h2 class="text-center">Todas as categorias</h2>
        </div>
    </div>  

    <div class="row  mb-5 d-flex justify-content-center bg-dark">
        <div class="col-md-6 ">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">matéria</th>
                        <th scope="col">descrição</th>
                        <th scope="col" class="text-center">modificações</th>
                      </tr>
                </thead>
                <tbody>
                  <tr *ngFor = 'let item of listaCategorias'> 
                    <th>{{item.id}}</th> 
                    <td>{{item.materia}}</td> 
                    <td>{{item.descricao}}</td> 
                    <td class="d-flex justify-content-end">
                        <button type="button" class="btn btn-info me-3">Editar</button>
                        <button type="button" class="btn btn-danger " [routerLink]="['/categoria-delete', categoria.id]" >Deletar</button>
                    </td> 
                  </tr>                
                </tbody>
              </table>
        </div>
    </div>

</div>
