<div class="container" id="mg">

    <div class="row d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-start">
                <div class="col-md-11 mt-5 ms-auto">
                    <h1>Busque materiais digitais e encontre caminhos alternativos para seus estudos. </h1>
                </div>
                <div class="col-md-11 mt-3 ms-auto">
                    <h6 class='fs-10'>Uma plataforma exclusiva para o compartilhamento seguro, rápido e gratuito de
                        materiais digitais.</h6>
                </div>
            </div>

            <div class="row f-flex justify-content-start mt-3 mb-5">
                <div class="col-md-11 ms-auto">
                    <button class="btn mt-3" data-bs-toggle="modal"
                        data-bs-target="#novaPostagem">Cadastre-se</button>
                </div>
            </div>

        </div>

        <div class="col-md-5 d-flex justify-content-center mb-5">
            <img src="https://i.imgur.com/iZrMaML.png" alt=" " width="350px" height="350px">
        </div>

    </div>
</div>