<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" id="navBar" >
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center ">
            <li>
                <img  class="img-fluid me-2 " src="https://cdn.discordapp.com/attachments/844199007819661403/858152290095333426/globoo.png" alt="Logo do tierra" width="73px" height="73px"  left="19px" top="10px" >
            </li>
            <div >      
                <p class="text-white m-0 me-2 font" id="properitiesEduca">educa </p>
                <p class="text-white m-0 font me-5" id="properitiesTierra">tierra</p>
            </div>
            
        </ul>
 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center ">
            
            <div class=" d-flex align-items-center mr-auto mb-3">
                <li class="nav-item ">
                    <a class="nav-link active text-white font " aria-current="page" href="#" id="properitiesHome">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white font" aria-current="page" href="#" id="properitiesProdutos">Produtos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white font" aria-current="page" href="#" id="properitiesSobreNos">Sobre Nós</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white font" aria-current="page" href="#" id="properitiesContato">Contato</a>
                  </li>
                  
                  
            </div>
            
          
 
 
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center me-5">
            <a href=""><img class="img-fluid me-auto" id="properitiesUser" src="https://cdn.discordapp.com/attachments/844199007819661403/859085364860944436/unknown.png" alt=""></a>
        </ul>
        
      </div>
    </div>
  </nav>