<div class="container mb-5 mt-5">

    <div class="row">

        <div class="col-md-12">
            <h1 class="text-center text-secondary">Deletar label</h1>
        </div>
    </div>

    <div class="row mb-3 ">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Tem certeza que quer deletar essa label, Todas as postagem dessa label ira de saco .</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-info">Temas: {{tema.descricao}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-success  me-4"(click)='apagar()'>Sim, Ta de boa! </button>
            <button class="btn btn-danger "routerLink='/tema'>Não, to de boa!</button>
        </div>
    </div>
</div>
