.modal-content{
    border-radius: 15px;
}

.modal-header{
    border-bottom: none;
    height: 10px;

    padding: 30px 0px 0px 0px;
}

.fecharModal {
    background-color: transparent;

    color: #003b71;
    font-size: 35px;
    font-weight: 900;

    text-decoration: none;
    box-shadow: none;
    border: none;
}

.fecharModal:hover,
.fecharModal:focus{
  color:#aaaaaa;
  text-decoration: none;
}

.form-control{
    padding-left: 15px;
    border-radius: 20px;
}

.form-group button{
    border-radius: 25px;
    padding:7px 20px 8px 20px;/* topo | direita | inferior | esquerda */

    background-color: #003b71;

    color: white;
    font-weight: 500;
}

.form-group button:hover{
    border:2px solid #003b71;
    background-color: transparent;

    color: #003b71;
}

.form-group button:focus,
.form-group input:focus, 
.form-group select{
    box-shadow: none;
}

#botao_deletar{
    background-color: red;
}

#botao_deletar:hover{
    border-color: red;
    color: red;
    background-color: transparent;
}