<section class="">
  <!-- Footer -->
  <footer class="bg-secondary text-white text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--EDUCA-->
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <div class="row">
            <div class="col-md-12 d-flex justify-content-start">
              <ul class="list-unstyled d-flex align-items-center">
                <li>
                  <img class="me-2" width="60px" height="60px" src="https://cdn.discordapp.com/attachments/844199007819661403/858152290095333426/globoo.png" alt="">
                </li>
                <li>
                  <h5 class="text-uppercase ">  Educa Tierra </h5>
                  
                </li>
              </ul>
            </div>
          </div>

          

          <p>
            Projeto criado com o intuito de facilitar o acesso à educação de jovens do ensino médio, através do
            compartilhamento de materiais digitais. 
          </p>
        </div>
        <!--//EDUCA-->

        <!--Tecnologias utilizadas-->
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0 ">
          <h5 class="text-uppercase text-center ms-5 mt-2">Tecnologias utilizadas</h5>
          <!--//Tecnologias-->

          <!--Col Da diteita-->
          <div class="row mb-4 mb-md-0 ms-5 ">
            <div class="col-md-12 d-flex justify-content-center">
              <ul class="list-unstyled d-flex align-items-center ">
                <li>
                  <!--1-->
                  <img class="img-fluid mt-4 me-4"
                    src="https://cdn.discordapp.com/attachments/844199007819661403/863233592007065610/mysql_PNG1_-_Copia_1.png"
                    alt="" width="60px" height="60px">
                </li>
                <li>
                  <!--2-->
                  <img class="img-fluid mt-2 me-3"
                    src="https://cdn.discordapp.com/attachments/844199007819661403/863233366974791700/mysql_PNG1_-_Copia.png"
                    alt="" width="60px" height="60px">
                </li>
              </ul>
              
              </div>
            </div>            
          
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <ul class="list-unstyled d-flex align-items-center">
                <li>
                  <img class="img-fluid me-4 ms-5" src="https://cdn.discordapp.com/attachments/844199007819661403/863234493980606504/mysql_PNG1_-_Copia_4.png" alt="" width="120px" height="120px"  >
                </li>
                <li>
                  <img class="img-fluid me-4" src="https://cdn.discordapp.com/attachments/844199007819661403/863234266078380062/mysql_PNG1_-_Copia_3.png" alt="" width="120px" height="120px" >
                </li>
                <li>
                  <img class="img-fluid " src="https://cdn.discordapp.com/attachments/844199007819661403/863234094489796608/mysql_PNG1_-_Copia_2.png" alt="" width="120px" height="120px" >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--//Termino Da Col Da Esquerda-->
        <!--Grid column-->

        <!--Social MEdia-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
          <h5 class="text-uppercase mb-0 text-center mb-3 mt-2">Redes Sociais</h5>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <ul class="list-unstyled d-flex align-items-center">
                <li>
                  <a href="https://github.com/israel-97/educatierra-angular" class="text-white me-3">
                    <img class="mt-2" width="60px" height="60px"  src="https://icon-library.com/images/github-icon-for-resume/github-icon-for-resume-14.jpg" alt=""></a>
                </li>
                <li>
                  <a  href="gmail.com" class="text-white">
                    <img class="mt-2" width="60px" height="60px" src="https://cdn.discordapp.com/attachments/844199007819661403/863568220597387304/email-1818372-1541480.png" alt=""></a>
                </li>
                <li>
                  <a href="">
                    <img class="mt-2" width="75px" height="75 px" src="https://cdn.discordapp.com/attachments/844199007819661403/863567064903974922/10675733b9e8b9725bb26e5665ac3d41.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <ul class="list-unstyled d-flex align-items-center">
                <li>
                  <img class="me-2" width="60px" height="60px" src="https://cdn.discordapp.com/attachments/844199007819661403/863569114547355688/Youtube-icon2.png" alt="">
                </li>
                <li>
                  <img class="me-3 ms-2" width="60px" height="60px" src="https://cdn.discordapp.com/attachments/844199007819661403/863569470878777374/instagram-new.png" alt="">
                </li>
                <li>
                  <img width="50px" height="50px" src="https://cdn.discordapp.com/attachments/844199007819661403/863569842957975572/a639897fb1c83127f1a67b7ca5d84caa.png" alt="">
                </li>
              </ul>
            </div>
          </div>
          
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      
      <p class="text-white">© 2021 Copyright: Todos os direitos reservados. A Educa Tierra não  é responsavel por erros descritivos.</p>
      
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>