<!-- Footer -->
<footer class="text-center">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-0">
            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <div class="me-auto mb-2 mt-4 mb-lg-0 d-flex align-items-center">
                        
                            <img class="img-fluid me-2"
                                src="https://cdn.discordapp.com/attachments/844199007819661403/858152290095333426/globoo.png"
                                alt="Logo do tierra" width="73px" height="73px" left="19px" top="10px">
                                <div>
                                    <h6 class="text-white m-0 me-2 font" id="properitiesEduca">educa</h6>
                                    <h6 class="text-white m-0 font me-5" id="properitiesTierra">tierra</h6>
                                </div>
                               
                  
                    </div>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="fw-bold mb-2">Tecnologias Utilizadas</h6>
                    <ul class="social-network">
                        <li>
                            <a href="" target="_blank" class="icoFacebook">
                                <i class="fa fa-html5" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="icoLinkedin">
                                <i class="fa fa-css3" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="icoGithub">
                                <i class="fa fa-code-fork" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="fw-bold mb-2">
                        Siga-nos nas redes sociais
                    </h6>
                    <ul class="social-network">
                        <li>
                            <a href="" target="_blank" class="icoFacebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="icoLinkedin">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/eralima/educa-tierra-backend" target="_blank" class="icoGithub">
                                <i class="fa fa-github-square" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

</footer>
<div class="footer2">
    <!-- Copyright -->
    <div class="text-center p-4">

        <span class="text-reset" href=""> © 2021 Copyright: Todos os direitos reservados. A Educa Tierra não é
            responsável por erros
            descritivos.</span>
    </div>
    <!-- Copyright -->

</div>

<!-- Footer -->