/* 
.gradient1 {
   
    background-image: linear-gradient(  #aabdbf, #899a9c, #586566  ) ;
}

.gradient2 {
   
    background-image: linear-gradient(  #f0fc03, #fcdb03, #ccb208 ) ;
}

.gradient3 {
   
    background-image: linear-gradient(  #00ffea, #0abfb0, #099186 ) ;
} */
/* 
#wati-color{
    display: block;
    text-align: center;
    background-image: linear-gradient(#a6ff00,rgb(12, 85, 16));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */
/* 
#carouselExampleControls{
    height: 55vh;
}

.carousel-inner{
    background-color: darkgoldenrod;
}

.carousel-indicators{
   bottom:0;
}
.carousel-indicators button{
    border-radius: 100%;
    height:20px;
    width: 20px;
    background-color: black;
}

.carousel-control-prev-icon , .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkblue ;
   
}


.next-icon{
    font-size: 10px;
} */
/* 
.numeros{
    font-weight: 700;
    
    color: #0F5C8C;
    font-size: 200px;

    margin-left: 30px;
}
 */


 .carousel-control-prev-icon , .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkblue ;
   
}

.carousel-control-next,
.carousel-control-prev{
    width: 30px;
}