<!--carrosel renato 2.0 nao responsivo
  
  <section class="team">

  <div class="container">

    <div class="row">

      <div class="col-lg-12">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">


          <div class="carousel-indicators me-5">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">1</button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">2</button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">3</button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">4</button>
          </div>            


          <div class="carousel-inner">

            <div class="carousel-item active">

              <div class="row d-flex align-items-center">

                <div class="col-lg-6">

                  <img class="img-fluid" src="https://i.imgur.com/erUVKTf.png" alt="">

                </div>

                <div class="col-lg-6 text-carrosel">

                  <h4 class="title-carousel">Compartilhe de forma fácil e segura.</h4>
                  <p class="mt-3">Basta cadastrar o link do material com uma breve descrição do conteúdo.</p>

                </div>

              </div>
              
            </div>

            <div class="carousel-item">

              <div class="row d-flex align-items-center">

                <div class="col-lg-6">

                  <img class="img-fluid" src="https://i.imgur.com/OXZuYmq.png" alt="">

                </div>

                <div class="col-lg-6 text-carrosel">

                  <h4 class="title-carousel">Fácil navegação.</h4>
                  <p class="mt-3">Nosso conteúdo é dividido em categorias, assim você encontra rapidamente o que procura.</p>

                </div>

              </div>
              
            </div>

            <div class="carousel-item">

              <div class="row d-flex align-items-center">

                <div class="col-lg-6">

                  <img class="img-fluid" src="https://i.imgur.com/z4o48hz.png" alt="">

                </div>

                <div class="col-lg-6 text-carrosel">

                  <h4 class="title-carousel"> Cadastrou, ganhou!</h4>
                  <p class="mt-3">Ao cadastrar um material digital em nossa plataforma, você recebe 10 pontos.</p>

                </div>

              </div>
              
            </div>

            <div class="carousel-item">

              <div class="row d-flex align-items-center">

                <div class="col-lg-6">

                  <img class="img-fluid" src="https://i.imgur.com/8xQmMKR.png" alt="">

                </div>

                <div class="col-lg-6 text-carrosel">

                  <h4 class="title-carousel">Ranking de pontos</h4>
                  <p class="mt-3">Os usuários que mais compartilharem materiais digitais aparecerão no ranking, aumentando sua visibilidade no site.</p>

                </div>

              </div>
              
            </div>

          </div>


          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>

      </div>

    </div>

  </div>

</section> -->


<!-- 
  carrosel erika não concluido
  
  <div class="container">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">1</button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">2</button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">3</button>
      </div>

      <div class="carousel-item active bg-warning">

        <div class="row d-flex justify-content-center">
          <div class="col-md-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, quam!
          </div>
          <div class="col-md-3">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium amet omnis neque nobis minima, repudiandae ipsum ab dolorem voluptates, eos ut nisi totam est et magni vero, reiciendis debitis error accusantium quisquam. Accusamus culpa voluptate totam aliquid excepturi, quibusdam debitis!
          </div>
        </div>

      </div>

    


    <button class="carousel-control-prev bg-danger" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-danger" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  
</div> -->


<div class="container mt-5 mb-carrossel">

  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active text-center"
        aria-current="true" aria-label="Slide 1" >1</button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
        aria-label="Slide 2">2</button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
        aria-label="Slide 3">3</button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3"
        aria-label="Slide 4">4</button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active gradient1">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center ">
            <img src="https://i.imgur.com/erUVKTf.png" width="300" height='300' alt="...">
          </div>
          <div class="col-md-4 d-flex align-items-center text-center " id="wati-color">
            <h3>Compartilhe de forma fácil e segura.
              Basta cadastrar o link do material com uma breve descrição do conteúdo. </h3>
          </div>
        </div>
      </div>

      <div class="carousel-item gradient2">
        <div class="row ">
          <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/yhxWo2U.png" width="300" height='300' alt="...">
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">
            <h3>Fácil navegação. Nosso conteúdo é dividido em categorias, assim você encontra rapidamente o que procura.</h3>
          </div>
        </div>
      </div>

      <div class="carousel-item gradient3">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center ">
            <img src="https://i.imgur.com/z4o48hz.png" width="300" height='300' alt="...">
            
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">
            <h3>Cadastrou, ganhou! Ao cadastrar um material digital em nossa plataforma, você recebe 10 pontos.</h3>
          </div>
        </div>
      </div>

      <div class="carousel-item mb-5 gradient3">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center ">
            <img src="https://i.imgur.com/8xQmMKR.png" width="300" height='300' alt="...">
            
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">
            <h3>Ranking de pontos. Os usuários que mais compartilharem materiais digitais aparecerão no ranking, aumentando sua visibilidade no site.</h3>
          </div>
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>