
<div class="container mt-5 mb-carrossel">

  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active text-center"
        aria-current="true" aria-label="Slide 1" >1</button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
        aria-label="Slide 2">2</button>
      <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
        aria-label="Slide 3">3</button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3"
        aria-label="Slide 4">4</button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active gradient1">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center ">
            <img src="https://i.imgur.com/erUVKTf.png" width="300" height='300' alt="...">
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">

            <div class="row">
              <h3 class="titulo col-md-12">Compartilhe de forma fácil e segura</h3>
              <p class="col-md-12">Basta cadastrar o link do material com uma breve descrição do conteúdo.</p>
            </div> 

          </div>
        </div>
      </div>

      <div class="carousel-item gradient2">
        <div class="row ">
          <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/yhxWo2U.png" width="300" height='300' alt="...">
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">

            <div class="row">
              <h3 class="titulo col-md-12">Fácil navegação</h3>
              <p class="col-md-12">Nosso conteúdo é dividido em categorias, assim você encontra rapidamente o que procura.</p>
            </div>

          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center ">
            <img src="https://i.imgur.com/z4o48hz.png" width="300" height='300' alt="...">
            
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">

            <div class="row">
              <h3 class="titulo col-md-12">Cadastrou, ganhou!</h3>
              <p class="col-md-12">Ao cadastrar um material digital em nossa plataforma, você recebe 10 pontos.</p>
            </div>

          </div>
        </div>
      </div>

      <div class="carousel-item mb-5 gradient3">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-center ">
            <img src="https://i.imgur.com/8xQmMKR.png" width="300" height='300' alt="...">
            
          </div>
          <div class="col-md-4 d-flex align-items-center text-center">

            <div class="row">
              <h3 class="titulo col-md-12">Ranking de pontos</h3>
              <p class="col-md-12">Os usuários que mais compartilharem materiais digitais aparecerão no ranking, aumentando sua visibilidade no site.</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
