.team{
     padding: 20px 200px;
}

p {
    margin: 0;
    text-align: justify;
}

.title-carousel{
    color: #003b71;
    border-bottom: solid 1px #003b71;
    padding-bottom: 5px;
    margin-top: 30px;
}
  

.carousel-control-prev-icon , .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#003b71 ;
}

.bottom-slide{
    height: 37px;
    width: 40px;
    border-radius: 100%;
}

img {
    height: 300px;
    margin-left: 100px;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0px;
    background-color:#003b71;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}

