/* .team{
     padding: 20px 200px;
}

p {
    margin: 0;
    text-align: justify;
}

.title-carousel{
    color: #003b71;
    border-bottom: solid 1px #003b71;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-right: 80px;
}
  

.carousel-control-prev-icon , .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:#003b71 ;
}

.carousel-control-next, .carousel-control-prev {
    margin: -80px;
}

.bottom-slide{
    height: 37px;
    width: 40px;
    border-radius: 100%;
}

img {
    height: 400px;
    margin-left: 50px;
}

.carousel-indicators [data-bs-target] {
    text-indent: 0px;
    background-color:#003b71;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}

.carousel-indicators {
    margin-bottom: -60px;
    margin-left: auto;

}

.text-carrosel {
    margin-left: -80px;
}

.mb-carrossel{
    margin-bottom: 150px;
} */


.team{
    padding: 20px 200px;
}

p {
   margin: 0;
   text-align: justify;
}

.title-carousel{
   color: #003b71;
   border-bottom: solid 1px #003b71;
   padding-bottom: 5px;
   margin-top: 30px;
   margin-right: 80px;
}
 

.carousel-control-prev-icon , .carousel-control-next-icon {
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color:#003b71 ;
}

.carousel-control-next, .carousel-control-prev {
   margin: -80px;
}

.bottom-slide{
   height: 37px;
   width: 40px;
   border-radius: 100%;
}

img {
   height: 400px;
   margin-left: 50px;
}

.carousel-indicators [data-bs-target] {
   text-indent: 0px;
   background-color:#003b71;
   width: 40px;
   height: 40px;
   border-radius: 100%;
   color: white;
   font-size: 20px;
}

.carousel-indicators {
   margin-bottom: -60px;
   margin-left: auto;

}

.text-carrosel {
   margin-left: -80px;
}

.mb-carrossel{
   margin-bottom: 150px;
}

.titulo{
    font-weight:700;
    color:#003b71
}

