<div class="container-fluid d-flex justify-content-center mt-6">
  <article class="leaderboard">
    <header>
      <h1 class="leaderboard__title">
        Ranking     
        <i class="fa fa-trophy img" aria-hidden="true"></i>     
      </h1>      
    </header>

    <main class="leaderboard__profiles">
      <article class="leaderboard__profile">
        <img src=" https://i.imgur.com/tZNKJ6p.png" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Erika Lima</span>
        <span class="leaderboard__value">90</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://imgur.com/rRAMA1a.jpg" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Tainah Vinha</span>
        <span class="leaderboard__value">80</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://i.imgur.com/cikyAjp.jpg" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Arthur Allen</span>
        <span class="leaderboard__value">40</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://i.imgur.com/BRACIWS.jpg" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Renato Novais</span>
        <span class="leaderboard__value">10</span>
      </article>
    </main>
  </article>
</div>