<div class="container-fluid d-flex justify-content-center mb-5">
  <article class="leaderboard">
    <header>
      <h1 class="leaderboard__title">
        Ranking     
        <i class="fa fa-trophy img" aria-hidden="true"></i>     
      </h1>      
    </header>

    <main class="leaderboard__profiles">
      <article class="leaderboard__profile">
        <img src="https://i.imgur.com/XDlRBZL.png" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Erika Lima</span>
        <span class="leaderboard__value">35.7</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://i.imgur.com/XDlRBZL.png" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Erika Lima</span>
        <span class="leaderboard__value">9.9</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://i.imgur.com/XDlRBZL.png" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Erika Lima</span>
        <span class="leaderboard__value">4.5</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://i.imgur.com/XDlRBZL.png" alt="" class="leaderboard__picture">
        <span class="leaderboard__name">Erika Lima</span>
        <span class="leaderboard__value">2.1</span>
      </article>
    </main>
  </article>
</div>