<div class="container-fluid">

    <div class="row d-flex align-items-evenly">
    
        <div class="col-md-12">

            <h1 class="text-center mb-5">Devs</h1>

            <div class="d-flex align-items-evenly justify-content-evenly mb-5">
                
                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Arthur</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Erika</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Israel</h2>
                </div>

            </div>

            <div class="d-flex align-items-evenly justify-content-evenly">
                
                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Robson</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Renato</h2>
                </div>

                <div class="">
                <img class="img-fluid" src="https://i1.sndcdn.com/artworks-000089842768-r40tuv-t500x500.jpg" class="rounded-circle" alt="Arthur" width="200dx">
                <h2 class="text-center">Tainah</h2>
                </div>

            </div>
            
        </div>

    </div>

</div>