@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap%27');

*{
    font-family: 'Poppins', sans-serif;
}


#navBar{
    
    position: absolute;
width: 100%;
height: 122px;
left: 0px;
top: 0px;

background: #F9A844;
}
.font{
    font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: left;
}



/** propriedades de tamanho e altura dos objetos**/







#properitiesUser{ /** User img  **/
    height: 62px;
    width: 63px;
    left: 1282px;
    top: 30px;
    border-radius: 0px;
    
    


}
#properitiesEduca{
    height: 31px;
    width: 65px;
    left: 107px;
    top: 25px;
    border-radius: nullpx;
    


}
#properitiesTierra{
    height: 31px;
    width: 0px;
    left: 107px;
    top: 56px;
    border-radius: nullpx;

}
#properitiesHome{
    height: 36px;
    width: 98px;
    left: 417px;
    top: 40px;
    border-radius: nullpx;
    

}
#properitiesProdutos{
    height: 36px;
    width: 142px;
    left: 544px;
    top: 40px;
    border-radius: nullpx;
    
}
#properitiesSobreNos{
    height: 36px;
    width: 168px;
    left: 701px;
    top: 40px;
    border-radius: nullpx;
    

}
#properitiesContato{
    height: 36px;
    width: 134px;
    left: 869px;
    top: 40px;
    border-radius: nullpx;
    

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.modal-content{
    border-radius: 15px;
}

.modal-header{
    border-bottom: none;
    height: 10px;
    padding-top:25px;
    padding-bottom: 0;
    padding-top: 30px;
}

#fecharModal {
    color: #0F5C8C;
    font-size: 30px;
    font-weight: 900;

    text-decoration: none;
    box-shadow: none;
}

#fecharModal:hover,
#fecharModal:focus{
  color:#aaaaaa;
  text-decoration: none;
}

#pills-home-tab, 
#pills-profile-tab{
    background-color: transparent;
    letter-spacing: .1em;
    color:#0F5C8C;
    font-size: 18px;
    font-weight: 600;

    padding: 10px 10px 5px 0px;/* topo | direita | inferior | esquerda */
}
#pills-home-tab{
    padding-left: 30px;
}

.nav-link .active {
    border: 2px solid #D860B3;
}

.form-control{
    padding-left: 15px;
}

.form-group button{
    border-radius: 20px;
    padding:7px 20px 8px 20px;/* topo | direita | inferior | esquerda */
    background-color: #0F5C8C;

    color: white;
    font-weight: 500;
}

.form-group button:focus{
    box-shadow: none;
}

.corDoDropDown{
    background: #bdbdbd;
}