
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap%27');

*{
    font-family: 'Poppins', sans-serif;
}


/*estilização do modal de cadastro e login*/

.modal-content{
    border-radius: 15px;
}


.modal-header{
    border-bottom: none;
    height: 10px;
    padding-top:25px;
    padding-bottom: 0;
    padding-top: 30px;
}

a,h1,h6 { 
    margin: 0;
    padding: 0;
}

#fecharModal {
    color: #0F5C8C;
    font-size: 35px;
    font-weight: 900;
    background-color: transparent;
    border: none;

    text-decoration: none;
    box-shadow: none;
}

#fecharModal:hover,
#fecharModal:focus{
  color:#aaaaaa;
  text-decoration: none;
}

#pills-home-tab, 
#pills-profile-tab{
    background-color: transparent;

    border-radius: 0;
    text-align: center;

    letter-spacing: .1em;
    color:#0F5C8C;
    font-size: 18px;
    font-weight: 600;

    padding: 10px 10px 5px 5px;/* topo | direita | inferior | esquerda */
}

.nav-link.active{
    border-bottom: 2px solid #0F5C8C;
    transition: left 0.3s ease 0s; 

}

.form-control,
.form-select{
    padding-left: 15px;
    border-radius: 20px;
}

.btn{
    border-radius: 25px;
    padding:7px 20px 8px 20px;/* topo | direita | inferior | esquerda */

    background-color: #0F5C8C;

    color: white;
    font-weight: 500;
}

.btn:hover{
    border:2px solid #0F5C8C;
    background-color: transparent;

    color: #0F5C8C;
}

.btn:focus,
input:focus, 
select:focus{
    box-shadow: none;
}

select {
    box-shadow: none;
    outline: none;
}


.button-link{
    border-radius: 15px;
    padding: 3px;
}

#botao_deletar{
    background-color: red;
}

#botao_deletar:hover{
    border-color: red;
    color: red;
    background-color: transparent;
}

.tipoProduto{
    text-transform: lowercase;
}

.scroll{
    width: 330px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
}

textarea{
    border-radius: 10px;
    resize: none;
}

textarea:focus{
    border: none;
}

.mt{
    margin-top: 100px;
}


pagination-controls{
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.banner{
    width: 350px;
    height: 350;
  }

.termo{
    overflow-y: scroll;
    height: 150px;
}

label, .form-check-label{
    color: #003b71;
    font-weight: 600;
}

.descricao{
    overflow-y: scroll;

    height: 100px;
    width:200px;
}

/* .table>:not(caption)>*>* {
    padding: .5rem 0rem .5rem 0rem;
   
} */

.table[_ngcontent-ihq-c82] > [_ngcontent-ihq-c82]:not(caption) > *[_ngcontent-ihq-c82] > *[_ngcontent-ihq-c82] {
    padding: .5rem .5rem .5rem .5rem;
}


