@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.modal-content{
    border-radius: 15px;
}

.modal-header{
    border-bottom: none;
    height: 10px;
    padding-top:25px;
    padding-bottom: 0;
    padding-top: 30px;
}

#fecharModal {
    color: #0F5C8C;
    font-size: 30px;
    font-weight: 900;

    text-decoration: none;
    box-shadow: none;
}

#fecharModal:hover,
#fecharModal:focus{
  color:#aaaaaa;
  text-decoration: none;
}

#pills-home-tab, 
#pills-profile-tab{
    background-color: transparent;
    letter-spacing: .1em;
    color:#0F5C8C;
    font-size: 18px;
    font-weight: 600;

    padding: 10px 10px 5px 0px;/* topo | direita | inferior | esquerda */
}
#pills-home-tab{
    padding-left: 30px;
}

.nav-link .active {
    border: 2px solid #D860B3;
}

.form-control{
    padding-left: 15px;
}

.form-group button{
    border-radius: 20px;
    padding:7px 20px 8px 20px;/* topo | direita | inferior | esquerda */
    background-color: #0F5C8C;

    color: white;
    font-weight: 500;
}

.form-group button:focus{
    box-shadow: none;
}
