#img-bg{
    background-image: url('https://media.discordapp.net/attachments/844199007819661403/859126877699309609/support-team_1.png?width=541&height=468');

    min-height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


} 