<h1 class="text-center">RANKING</h1>
<div class="leaderboard">
  <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-128.png">
  <p class="leaderboardname">First Person</p>
  <p class="score">15,000</p>
</div>

<div class="leaderboard">
  <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-128.png">
  <p class="leaderboardname">Second Person</p>
  <p class="score">15,000</p>
</div>

<div class="leaderboard">
  <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-128.png">
  <p class="leaderboardname">Second Person</p>
  <p class="score">15,000</p>
</div>

<a href="https://script.google.com/macros/s/AKfycbwthkFhSoGA3k6dzL8t-luJRgjPVPLERtei53on_Vs/dev" class="sendscore"></a>

